In [58]:
import pandas as pd

In [59]:
df = pd.read_csv('全量数据/股本变化.csv')

/var/folders/n7/hnlkj7_56ddd279tj0k4752c0000gn/T/ipykernel_1554/4293683471.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('全量数据/股本变化.csv')

In [60]:
df['截止日期'] = pd.to_datetime(df['截止日期'], format='%d/%m/%Y %H:%M:%S')
df['截止日期'] = df['截止日期'].dt.strftime('%Y-%m-%d')

In [61]:
df['证券代码'] = df['证券代码'].astype(str).apply(lambda x: x.zfill(6))

In [62]:
df = df[~df['证券代码'].astype(str).str.startswith(('4', '8', 'X', '9', 'S'))]

In [63]:
def modify_code(code):
    if code.startswith('0') or code.startswith('3'):
        return code + '.SZ'
    elif code.startswith('6'):
        return code + '.SH'
    else:
        return code  # 如果不符合条件，保持原样

df['证券代码'] = df['证券代码'].astype(str).apply(modify_code)

In [64]:
df = df.drop(df.columns[[1, 4, 5]], axis=1)
df

              截止日期       证券代码         总股本
0       1991-04-03  000001.SZ    67900000
1       1991-08-17  000001.SZ    89751643
2       1991-12-31  000001.SZ    89751643
3       1992-03-23  000001.SZ   134696625
4       1992-12-31  000001.SZ   134696625
...            ...        ...         ...
252208  2023-10-26  688981.SH  7945718692
252209  2023-10-31  688981.SH  7945885729
252210  2023-11-28  688981.SH  7946538137
252211  2023-11-30  688981.SH  7946542350
252212  2023-12-29  688981.SH  7946555760

[240413 rows x 3 columns]

In [65]:
df_1 = df.pivot(index='截止日期', columns='证券代码', values='总股本')

In [66]:
df_1.index.name = None
df_1.columns.name = None

In [67]:
df_1

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
1987-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989-12-28,NaN,NaN,NaN,12500000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990-12-01,NaN,NaN,NaN,12500000.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_1.index = pd.to_datetime(df_1.index)
df_1 = df_1.resample('D').asfreq()

In [69]:
df_1

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
1987-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-03-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-03-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df_1 = df_1.ffill()

In [71]:
df_1 = df_1.fillna(0)

In [72]:
df_1

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
1987-03-12,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1987-03-13,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1987-03-14,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1987-03-15,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
1987-03-16,0.000000e+00,0.000000e+00,0.0,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-08,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-09,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-10,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-11,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-12,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09

In [73]:
df_1.to_csv('历史总股本.csv')

In [74]:
df3 = pd.read_csv('历史总股本.csv', index_col=0)

In [75]:
df3 = df3.shift(1)

In [76]:
df3 = df3[df3.index > '1999-12-31']

In [77]:
df3.to_csv('昨总股本.csv')

In [78]:
df3

,000001.SZ,000002.SZ,000003.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688786.SH,688787.SH,688788.SH,688789.SH,688793.SH,688798.SH,688799.SH,688800.SH,688819.SH,688981.SH
2000-01-01,1.551847e+09,5.455375e+08,333433584.0,83976684.0,5.180175e+08,2.535916e+08,143593664.0,7.365321e+07,9.588100e+08,1.470174e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2000-01-02,1.551847e+09,5.455375e+08,333433584.0,83976684.0,5.180175e+08,2.535916e+08,143593664.0,7.365321e+07,9.588100e+08,1.470174e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2000-01-03,1.551847e+09,5.455375e+08,333433584.0,83976684.0,5.180175e+08,2.535916e+08,143593664.0,7.365321e+07,9.588100e+08,1.470174e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2000-01-04,1.551847e+09,5.455375e+08,333433584.0,83976684.0,5.180175e+08,2.535916e+08,143593664.0,7.365321e+07,9.588100e+08,1.470174e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
2000-01-05,1.551847e+09,5.455375e+08,333433584.0,83976684.0,5.180175e+08,2.535916e+08,143593664.0,7.365321e+07,9.588100e+08,1.470174e+08,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-08,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-09,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-10,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-11,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09
2024-01-12,1.940592e+10,1.193071e+10,333433584.0,132380282.0,1.058537e+09,1.349995e+09,346448044.0,2.716378e+09,2.579214e+09,1.149652e+09,...,85595240.0,60325180.0,105747925.0,120437136.0,85945419.0,232008945.0,93800000.0,158419873.0,972100000.0,7.946556e+09